<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Carrito de compras</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet"  href="/css/styleCarrito.css">
</head>
<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <img src="/images/logo.png" alt="logo página">
            </div> 
            <nav class="nav-header">
                <ul>
                    <li><a href="#">Registrate <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="#">Carrito de compra <i class="fas fa-cart-arrow-down"></i></i></a></li>
                </ul>   
            </nav>
        </div>
        <div class="form-header">
            <form class="form" action="#" method="GET">
                <input type="text" name="busqueda"placeholder="Buscar productos y mas">
                <button type="submit"> <i class="fa fa-search"></i></button>
            </form>
        </div>
        <div class="banner">
            <img src="images/opc1.png" alt="banner">
        </div>
        <nav class="menu-nav">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Categorías</a></li>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="vista-main">
            <section class="vista-producto">
                <h3>Carrito de Compras</h3>
                <article>
                    <div class="cajas-precios">
                        <div class="caja-descripcion">
                            <h4>#Descripción producto</h4>
                            <p>Precio unitario</p>
                            <p>Cantidad</p>
                            <p>Precio</p>
                        </div>
                        <div class="contenedor-img">
                            <img src="/images/comidaperros.png" alt="imagen producto" class="product-select">
                        </div>
                        <form action="/" method="post">
                            <input type="submit" value="SEGUIR COMPRANDO" class="btn-return">
                        </form>
                    </div>
                </article>
            </section>
            <section class="detalle">
                <h3>Detalles de Compra</h3>
                <article>
                    <div class="cajas-precios">
                        <div>
                            <p>Subtotal:</p>
                            <p>Envío:</p>
                        </div>
                        <div class="total">
                            <h4>Total:</h4>
                        </div>
                        <div class="finalizar-compra">
                            <form action="/" method="post">
                                <input type="submit" value="FINALIZAR COMPRA" class="btn-return">
                            </form>
                        </div>
                    </div>
                </article>
            </section>
        </div>
        <section class="mas-vendidos">
            <h3>Productos mas vendidos</h3>
            <article>
                <div>
                    <img src="/images/ringo.png" alt="imagen producto1" class="product-select">
                    <img src="/images/shampoo.png" alt="imagen producto2" class="product-select">
                    <img src="/images/tapetes.png" alt="imagen producto3" class="product-select">
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section class="categorias">
            <article>
                <h4>Categorías</h4>
                <div class="main-categoria">
                    <ul>
                        <li><a href="#">Par Perros</a></li>
                        <li><a href="#">Para Gatos</a></li>
                        <li><a href="#">Otros productos</a></li>
                    </ul>
                </div>
            </article>
        </section>
        <section class="contacto">
            <article>
                <h4>Contacto</h4>
                <div class="main-contacto">
                    <p>Telefono: 27383929</p>
                    <p>mypet@gmail.com</p>
                    <p>Colombia</p>
                </div>
            </article>
        </section>
        <section class="Ayuda">
            <article>
                <h4>Ayuda</h4>
                <div class="main-ayuda">
                    <ul>
                        <li><a href="#">Sobre MyPet</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Trabaje con nosotros</a></li>
                        <li><a href="#">Terminos y condiciones</a></li>
                    </ul>
                </div>
            </article>
        </section>
    </footer>
</body>
</html>