<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Descripcion_Producto</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet"  href="/css/styleProducto.css">
</head>
<body>
    <header>
        <div class="top-header">
         <div class="logo">
             <img src="images/logo.svg" alt="logo página">
         </div> 
         <nav class="nav-header">
             <ul>
                 <li><a href="#">Registrate <i class="fas fa-sign-in-alt"></i></a></li>
                 <li><a href="#">Carrito de compra <i class="fas fa-cart-arrow-down"></i></i></a></li>
             </ul>  
             <form class="form" action="#" method="GET">
                 <input type="text" name="busqueda"placeholder="Buscar productos y mas">
                 <button type="submit"> <i class="fa fa-search"></i></button>
             </form> 
         </nav>
     </div>
     
     <nav class="menu-nav">
         <ul>
             <li><a href="#">Home</a></li>
             <li><a href="#">Categorías</a></li>
             <li><a href="#">Ofertas</a></li>
             <li><a href="#">Noticias</a></li>
             <li><a href="#">Ayuda</a></li>
         </ul>
     </nav> 
     </header>
<main>
    <div class="caja">
        <section class="producto">
            <section class="fotos">
                <section class="vistas">
                    <div class="fotopeque">
                        <img src="/images/ringo.png" alt="Producto1">
                    </div>
                    <div class="fotopeque">
                        <img src="/images/ringo.png" alt="Producto2">
                    </div>
                    <div class="fotopeque">
                        <img src="/images/ringo.png" alt="Producto3">
                    </div>
                </section>
                <section class="fotoPrincipal">
                    <img src="/images/ringo.png" alt="Producto principal">
                </section>
            </section>
            <section class=productoDetalles>
                <h2>Nombre_del_producto</h2>
            </section>
        </section>
        <article class="descripcion">
            <hr size="2px" width="80%" align="left" color="black" />
            <h2>Descripción del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur nisi velit impedit provident veritatis assumenda odio magni, obcaecati eaque tempora facere expedita sequi voluptatem consequatur aliquam nam ea voluptate quos!</p>
        </article>

        <article class="caracteristicas">
            <hr size="2px" width="80%" align="left" color="black" />
            <h2>Características</h2>
                <ul>
                    <li>Característica 1</li>
                    <li>Característica 2</li>
                    <li>Característica 3</li>
                    <li>Característica 4</li>
                </ul>
        </article>
        <article class="opinion">
            <hr size="2px" width="80%" align="left" color="black" />
            <h2>Opiniones</h2>
                <h3>Usuario 1</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam tempora dicta odit nesciunt eum dolore molestias repellendus quam iusto, nihil iste eos blanditiis. Repudiandae magni optio obcaecati eos eum! Dolores.</p>
                <h3>Usuario 2</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo laboriosam modi omnis accusantium sunt tenetur. Accusamus corporis perspiciatis nesciunt. Aperiam quos asperiores expedita soluta molestiae deserunt recusandae quas placeat sint.</p>
        </article>
        <section class="recomendacion">

        </section>
    </div>
</main>

<footer>
    <section class="pagos">
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-amex"></i>
    </section>
    </section>
    <section class="contacto">
        <article>
            <h4><i class="far fa-address-book"></i> Contacto</h4>
            <div class="main-contacto">
                <p><i class="fas fa-phone-square-alt"></i> Telefono: 27383929</p>
                <p> <i class="fas fa-envelope-square"></i> mypet@gmail.com</p>
                <p><i class="fas fa-coffee"></i> Colombia</p>
            </div>
        </article>
    </section>
    <section class="Ayuda">
        <article>
            <h4><i class="fas fa-info"></i> Ayuda</h4>
            <div class="main-ayuda">
                <ul>
                    <li><a href="#">Sobre MyPet</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Trabaje con nosotros</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                </ul>
            </div>
        </article>
    </section>
    <section class="Social_Icons">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
    </section>
    <section class="terms">
        
        <p><i class="far fa-copyright"></i> copyright - Mypet 2022</p>
    </section>
</footer>
</body>
</html>