<footer>
    <section class="pagos">
        <i class="fab fa-cc-mastercard"></i>
        <i class="fab fa-cc-visa"></i>
        <i class="fab fa-cc-amex"></i>
    </section>
    </section>
    <section class="contacto">
        <article>
            <h4><i class="far fa-address-book"></i> Contacto</h4>
            <div class="main-contacto">
                <ul>
                <ul><i class="fas fa-phone-square-alt"></i> Telefono: 27383929</ul>
                <ul> <i class="fas fa-envelope-square"></i> mypet@gmail.com</ul>
                <ul><i class="fas fa-coffee"></i> Colombia</ul>
            </ul>
            </div>
        </article>
    </section>
    <section class="Ayuda">
        <article>
            <h4><i class="fas fa-info"></i> Ayuda</h4>
            <div class="main-ayuda">
                <ul>
                    <li><a href="#">Sobre MyPet</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Trabaje con nosotros</a></li>
                    <li><a href="#">Terminos y condiciones</a></li>
                </ul>
            </div>
        </article>
    </section>
    <section class="Social_Icons">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-youtube"></i>
    </section>
    <section class="terms">
        
        <p><i class="far fa-copyright"></i> copyright - Mypet 2022</p>
    </section>
</footer>