<header>
    <div class="top-header">
     <div class="logo">
        <a href="/"><img src="../images/logo.svg" alt="logo página"></a>
     </div> 
     <nav class="nav-header">
         <ul>
             <li><a href="../login">Iniciar seccion <i class="fas fa-sign-in-alt"></i></a></li>
             <li><a href="../users/register">Registrarte <i class="fas fa-plus-circle"></i></a></li>
             <li><a href="../carrito">Carrito de compra <i class="fas fa-cart-arrow-down"></i></a></li>
         </ul>  
         <form class="form" action="#" method="GET">
             <input type="text" name="busqueda"placeholder="Buscar productos y mas">
             <button type="submit"> <i class="fa fa-search"></i></button>
         </form> 
     </nav>
 </div>
 
 <nav class="menu-nav">
     <ul>
         <li><a href="/">Home</a></li>
         <li><a href="#">Categorías</a></li>
         <li><a href="#">Ofertas</a></li>
         <li><a href="#">Noticias</a></li>
         <li><a href="">Ayuda</a></li>
     </ul>
 </nav> 
 </header>