<header>
    <div class="top-header">
     <div class="logo">
        <a href="/"><img src="../images/logo.svg" alt="logo página"></a>
     </div> 
     <nav class="nav-header">
         <ul>
             <li><a href="#">Cerrar seccion <i class="fas fa-sign-in-alt"></i></a></li>
             
         </ul>  
          
     </nav>
 </div>
 
 <nav class="menu-nav">
     <ul>
         <li><a href="/">Home</a></li>
         <li><a href="/products/lis-products">Productos</a></li>
         <li><a href="#">Ofertas</a></li>
         <li><a href="#">Noticias</a></li>
         <li><a href="#">Ayuda</a></li>
     </ul>
 </nav> 
 </header>