
    <div class="collapse navbar-collapse position-absolute bottom-0 start-50 translate-middle-x" id="navbarNavDropdown">
      <ul class="navbar-nav  fs-3">
        <li class="nav-item active">
          <a class="nav-link text-dark" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Ayuda</a>
        </li>
       
      </ul>
    </div>
    <div class="position-absolute top-50 end-0 translate-middle mt-3 px-3 me-3 fs-4 w-20 ">
      <main id="main"class=" form-signin  mt-1 " 
      style="width: 100%;" >
  <div class=" mt-1 flex-column d-flex d-flex justify-content-center" style="margin-right: -3.5rem;" >
    
    <ul class="navbar-nav " >
      <li class="nav-item">
        <a class="nav-link dropdown-toggle px-5" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
           <img class="rounded-circle" src="/images/users/<%=locals.userLogin.image%>" alt="" width="60" height="50" class="d-inline-block align-text-top">
        </a>
        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
          <%if(locals.userLogin.idRol==2){%>
          <li><a class="dropdown-item" href="#">Perfil</a></li>
          <li><a class="dropdown-item" href="/admin">Administración</a></li>
          <li><a class="dropdown-item" href="/user/logout">Cerrar Sección</a></li>
          <%}else{%>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li><a class="dropdown-item" href="/user/logout">Cerrar Sección</a></li>
            <%}%>
        </ul>
      </li>
    </ul>
   
  </div>
  </main>
     </div>
   