<!DOCTYPE html>
<html lang="en">
    <head>
		<%- include('./partials/head')%>
    </head>
<body>
    <%- include('./partials/header')%>
    
    <div class="container mt-4 mb-4 w-50 bg-light ">
      <form class=" mt-3" action="/admin/registroproducto" method="POST" enctype="multipart/form-data">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Nombre</span>
      <input type="text" class="form-control" placeholder="Nombre producto" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    
    <div class="input-group mb-3">
      <span class="input-group-text">$</span>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
      <span class="input-group-text">.00</span>
    </div>
    
    <label for="basic-url" class="form-label">Imagenes</label>
    <div class="input-group mb-3">
      <input type="file" class="form-control" id="basic-url" aria-describedby="basic-addon3">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Cantidad</span>
      <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
      
    </div>
    
    <div class="input-group">
      <span class="input-group-text">Descripción</span>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>
    <div class="input-group mt-2 mb-2">
      <label class="input-group-text" for="inputGroupSelect01">Options</label>
      <select class="form-select" id="inputGroupSelect01">
        <option selected>Sin color...</option>
        <option value="1">Azul</option>
        <option value="2">Verde</option>
        <option value="3">Gris</option>
      </select>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto">
     
      <button class="btn btn-dark" type="button">Guardar Producto</button>
    </div>
  </form>
  </div>
	<%- include('./partials/footer')%>
</body>
</html>