<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyPet-Login</title>
  <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" 
      crossorigin="anonymous">
 <!--Google icons-->
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"> 
</head>
<body class="text-center " style="background-color: #badf34;">
 
  <main class="form-signin position-absolute top-0 start-50 translate-middle-x mt-5" style="width: 30%">
    <form id='formulario' action="/user/processlogin" method="POST">
      <a href="/"><img class="mb-4" src="../images/logo.svg" alt="" width="70%" height="70%"></a>
      <h1 class="h3 mb-3 fw-normal">Iniciar Sección</h1>
      <ul  name="ulErrores" id="ulErrores"> </ul>
      <% if (locals.errors && errors.email){ %>
        <div class="alert alert-danger" >
            <%= errors.email.msg %> 
            
        </div>
    <% } %>
      <div class="form-floating">
       
        <input type="email" class="form-control"name="email"id="email" placeholder="name@example.com">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        <label for="floatingPassword">Constraseña</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember_me"> Recordar correo electronico
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-dark mb-2" type="submit">Entrar</button>
      
    </form>
  </main>


  </body>
  <script src="/js/validacionLogin.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</html>
