<!DOCTYPE html>
<html lang="en" >
<head>
  <%- include('../partials/head')%>
</head>
<body style="display:inline-block; overflow-x:hidden" class="">
  <%- include('../partials/header')%>
  <div class="login" id="form-login">
    
  </div>
<main>
 
</main>
<%- include('../partials/footer')%>
<script src="./js/index.js"></script>
</body>
</html>