<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Regitrate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <!--<link rel="stylesheet" href="/css/register.css">-->
        <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
        <%- include('../partials/header')%>
        <main>
            <img  src="/images/gatos.png" alt="">
           <form action="/users/create" method="post"  class="form-register">
            <h2>Regitrate</h2>
            <div class="input-contenedor">
                <input type="text" name="first_name" placeholder="Nombres">
                <input type="text" name="last_name" placeholder="Apellidos">
                <input type="email"name="email" placeholder="E-mail">
                <h4>¿Que mascota tienes?</h4>
                <div class="interests">
                    <input type="checkbox" name="interests" value="a" id="a">
                        <label for="a">Perro</label>
                    <input type="checkbox" name="interests" value="b" id="b">
                        <label for="b">Gato</label>
                </div>
            <input type="password" name="password" placeholder="Elegí tu contraseña">
        
            <div class="btn">
                
             <input type="submit" value="Crear cuenta">

            </div>


            <p>Si posee alguna cuenta, puede <a href="/login">iniciar sesión</a> directamente sin necesidad de registrar una nueva</p>

        </div >
            </form>
        </main>
        <%- include('../partials/footer')%>
</body>
</html>